<h3>Hi and thanks for signing up!</h3>

<p>Here is your user information, por favor<br/><b>Username:</b> {{username}}
    <br/></p>
<b>But before your account is fully active, you have to verify your email:</b>
<a href="http://rest.app.com/verifyEmail/?id={{user.id}}&code={{verificationCode}}">
    http://rest.app.com/verifyEmail/?id={{user.id}}&code={{verificationCode}}</a>
<br/>
<p>After you have verified your account, you can login to your account:<br/>
    <a href="http://rest.app.com/login/">Login to your Profile</a></p>
